{include file="common/header"}
<style type="text/css">
    body {background:#F2EEE4;}
</style>
<script type="text/javascript" src="__ROOT__/js/home/go.js" ></script>
<script type="text/javascript" src="__ROOT__/js/home/layer/layer.js"></script>
<script type="text/javascript" src="__ROOT__/js/home/bootstrap.min.js" ></script>
<link href="http://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script type="text/javascript">
    var imgs = {};
</script>
<script type="text/javascript" src="__ROOT__/js/home/jiapu.js" ></script>
   <!--防止导航栏盖住内容,本质上是使用空白来占位-->
   <div id="app">
       <div style="height: 60px;"></div>    
            <!--使下面的h1居中-->
        <div style="width:99%;text-align:center;margin:0px auto;" >
            <div id="myDiagramDiv" style="border: solid 1px black; width:100%;  height:600px"></div>
              <pre id="peopleData" style="display: none;">    
              </pre>
        </div>

         <!-- 模态框（Modal） -->
        <div class="modal fade" id="show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:99%;text-align:center;margin:0px auto;background-color:rgba(0,0,0,0);">
            <div class="modal-dialog" style="background-color:rgba(0,0,0,0);">
                <div class="modal-content" style="background-color:rgba(0,0,0,0);">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body" style="min-height:400px; min-width:400px;">
                        <div id="card" style="min-height:400px; min-width:400px;">
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <div class="modal fade" id="card_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content"> 
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body" style="min-height:400px; min-width:400px;">
                        <div style="min-height:400px; min-width:400px;">
                            <form id="card_form">
                                <div class="form-group">
                                      <!-- Text input-->
                                    <label for="pre_name">姓</label>
                                    <div class="controls">
                                        <input type="text" placeholder="姓" class="form-control" id="pre_name" name="pre_name">
                                    </div>
                                </div>
                                <div class="form-group">
                                      <!-- Text input-->
                                    <label for="name">名</label>
                                    <div class="controls">
                                        <input type="text" placeholder="名" class="form-control" id="name">
                                    </div>
                                </div>
                                <div class="form-group">
                                      <!-- Text input-->
                                    <label for="datetimepicker">生日</label>
                                    <div class="controls">
                                        <input type="text" placeholder="生日" class="form-control" id="datetimepicker">
                                    </div>
                                </div>
                                <div class="form-group">
                                      <!-- Text input-->
                                    <label for="joy">工作</label>
                                    <div class="controls">
                                        <input type="text" placeholder="工作" class="form-control" id="joy">
                                    </div>
                                </div>
                                <div class="form-group">
                                      <!-- Text input-->
                                    <label for="email">Email</label>
                                    <div class="controls">
                                        <input type="text" placeholder="Email" class="form-control" id="email">
                                    </div>
                                </div>
                                <div class="form-group">
                                      <!-- Text input-->
                                    <label for="detail">简介</label>
                                    <div class="controls">
                                        <textarea placeholder="简介" class="form-control" id="detail" cols="3"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>



    </div>


    </body>
</html>
<script src="http://momentjs.cn/downloads/moment.js"></script>
<script src="http://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $('#datetimepicker').datetimepicker({
        viewMode: 'years',
        format: 'YYYY/MM/DD'
    });
    function strToJson(str){
        var json = eval('(' + str + ')');
        return json;
    } 
    var url = base_url+'jiapu/show';
    var token = get_token();
    var data = {};
    data['user_token'] = token;
    setTimeout(function() {
        $.ajax({
            url: url,
            type: 'post',
            data: data,
            headers : {
                'user_token' : token
            },
            dataType: 'json',
            timeout: 10000,
            success: function (data, status) {
                 
                if(data.code==codeArr['e500'])
                {
                    weui.alert(data.msg,function(){
                        window.location.href = "./index.html";
                    });
                }else if(data.code==codeArr['e201'])
                {
                    weui.alert(data.msg,function(){
                        window.location.href = "./index.html";
                    });
                }else if(data.code==codeArr['e200'])
                {
                    // imgs = eval("("+data.data.imgs+")"); 
                    var max_layer = data.data.max_layer;
                    console.log(data['data']['data']);
                    setupDiagram(myDiagram,strToJson(data['data']['data']),4,max_layer);
                }else
                {
                    window.location.href = "./index.html";
                }
                
            },
            fail: function (err, status) {
                alert('数据请求异常');
            }
        })
    }, 500);
    
</script>