<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>登录</title>  
    <link rel="stylesheet" href="__ROOT__/css/shopadmin/pintuer.css">
    <link rel="stylesheet" href="__ROOT__/css/shopadmin/admin.css">
    <script src="__ROOT__/js/shopadmin/common.js"></script>
    <script src="__ROOT__/js/shopadmin/jquery.js"></script>
    <script src="__ROOT__/js/shopadmin/pintuer.js"></script>  
</head>
<body>
<div class="bg"></div>
<div class="container">
    <div class="line bouncein">
        <div class="xs6 xm4 xs3-move xm4-move">
            <div style="height:150px;"></div>
            <div class="media media-y margin-big-bottom">           
            </div>         
            <form action="#" method="post" onsubmit="return false;">
            <div class="panel loginbox">
                <div class="text-center margin-big padding-big-top"><h1>后台管理中心</h1></div>
                <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="text" class="input input-big" name="username" id="username" placeholder="登录账号" data-validate="required:请填写账号" />
                            <span class="icon icon-user margin-small"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="password" class="input input-big" name="password" id="password" placeholder="登录密码" data-validate="required:请填写密码" />
                            <span class="icon icon-key margin-small"></span>
                        </div>
                    </div>
                </div>
                <div style="padding:30px;"><input type="submit" class="button button-block bg-main text-big input-big" onclick="do_login()" value="登录"></div>
            </div>
            </form>          
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    function do_login()
    {
        var data = {};
        var url = base_url+'user/login';
        data['username'] = $('#username').val();
        data['password'] = $('#password').val();
        if(!data['username'] || !data['password'])
        {
            alert('请输入完整');
            return false;
        }
        $.ajax({
            url: url,
            type: 'post',
            data: data,
            dataType: 'json',
            timeout: 1000,
            success: function (data, status) {
                 
                if(data.code==codeArr['e200'])
                {
                    set_session('user_token',data.data.token);
                    window.location.href = "./goods_list.html";
                }else if(data.code==codeArr['e201'])
                {
                    alert(data.msg);
                }else
                {
                    alert(data.msg);
                }
                
            },
            fail: function (err, status) {
                alert('数据请求异常');
            }
        })
    }
</script>