.n_bread{
    padding: 20px 0;
}
.n_bread a{
    color: #01002F;
}

.n_nav { line-height: 40px;background: #ccc;overflow: hidden;}
.n_nav list { overflow: hidden}
.n_nav  .list li{
    float: left;
    width: 20%;
    font-size: 13px;
}
.n_nav .list li span{
    display: inline-block;
    width: 90%;
    text-align: center;
}

.n_nav .list li em{
    font-style: normal;
font-size: 18px;
    float: right;
}

.n_nav .list li.active span{
    background: #01002f;
    color: #fff;
}

.n_ctr_top{
    padding-left: 30px !important;
}
.n_ctr_top li>b{
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #01002f;
    border-radius: 50%;
    margin-right: 3px;
    position: relative;
    top:-2px;
}
.n_ctr_top li{
    padding: 3px 0;
    line-height: 25px;
}
.n_state{
    font-size: 14px;
    font-weight: bold;
    padding: 6px 0;

}
.n_ctr_top .n_btn{
    padding: 10px 0;
}
.n_ctr_top .n_btn a{
    padding: 5px 5px ;
    background: #fff;
    border: 1px solid #ccc;
    margin-right: 4px;
    border-radius: 4px;
}

.n_order_content{

}
.n_order_content .n_detail_nav{
    overflow: hidden;
    position: relative;
    top:1px;
    padding-left: 20px;
}

.n_order_content .n_detail_nav li{
    float: left;
    background: #efefef;
    border:1px solid #ccc;
    width: 120px;
    text-align: center;
    padding: 5px 0;
    margin-right: 4px;
    cursor: default;
}
.n_order_content .n_detail_nav li.active{
    background: #fff;
    border:1px solid #ccc;
    width: 120px;
    text-align: center;
    padding:5px 10px;
    border-bottom: 1px solid #fff;
}

.n_ctr_con {
    padding-left: 30px !important;
}
.n_ctr_con .n_con_title{
    font-weight: bold;
    font-size: 14px;
   padding-bottom: 15px;
}
.n_ctr_con  .n_detail_title{
    font-weight: bold;
    font-size: 14px;
    margin-right: 20px;
}

.n_ctr_con  .n_ctr_con_item ul li{
    padding: 5px;

}

.n_ctr_con  .n_ctr_con_item ul li>p{
    padding-left: 75px;
    padding-bottom: 10px;
}
.n_ctr_con  .n_ctr_con_item{
    display: none;
}