.banner a img{width: 100%;vertical-align: bottom;}
.enjoy{width: 800px;margin: 70px auto;}
.enjoy p{margin-top: 30px;line-height: 24px;color: #01002f;}
.lc{text-align: center;}
.lc input{margin-top: 50px;width: 170px;height: 40px;text-align: center;background-color: #01002f;color: #fff;border:none;}