.here{width: 600px;margin:0 auto;}
.person{margin-top: 20px;}
.person img{float: left;}
.person .everybody{width: 260px;float: left;margin-left: 40px; padding: 15px 10px;line-height: 30px;text-indent: 20px;}
.zy{height: 24px;margin-top: 20px;}
.girl h2{float: left;}
.girl span{float: right;margin-right: 20px;font-size: 14px;}
.girl p{margin-top: 30px;font-size: 14px;}
.job{height: 24px;background: url(../images/shadow.png) no-repeat center center;margin-top: 60px;position: relative;}
.job h2{position:relative;left: 50%;margin-left:-32px;color: #967d5a; }
.petfixe p{margin-top:15px;}
.allopen{height: 30px;background:url(../images/blueshadow.png) no-repeat center center;margin-top: 25px;position: relative;}
.allopen h3{position: relative;left: 50%;margin-left: -26px;line-height: 30px;}
.allopen a{display:block;position: relative;left: 50%;margin-left: -5px;}
table tr,th,td{border: 0.1px solid #999;height: 40px;}
td img{text-align: center;}
table .class{width: 50px;}
table{margin-top: 30px;}

.vedio{margin-top: 30px;position: relative;}
.click{width: 144px;height: 144px;position:absolute;top: 50%;margin-top:-72px;left:50%;margin-left: -72px;}
.poster{width: 600px;}
.share{float: right;margin-top: 10px;}
.share span{float: left;line-height: 28px;font-size: 14px;margin-right: 10px;}
.zaoxing{margin-top: 50px;position: relative;}
.pic{height: 60px;padding-right: 15px;background: url(../images/line.png) no-repeat bottom left;font-size: 18px;line-height: 40px;color: #000;}
.blue li{width: 20%;float: left;margin-left: 0px;margin-top: 15px;}

